<style>
.clocks {
    position: absolute;
    display: inline-block;
    color: gray;
    font-size: 2em;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: bold;
    width: 1350px;
    left: 300px;
    top: 1em;
}
.clocks td {
    width: 150px;
    text-align: center;
}

.clocks .active {
    color: white;
}
</style>

<table class="clocks">
    <tr>
        {% for t in event.local_times_start %}
            <td {% if t.is_active %}class="active"{% endif %}>{{ t.name }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for t in event.local_times_start %}
            <td {% if t.is_active %}class="active"{% endif %}>{{ t.time_display }}</td>
        {% endfor %}
    </tr>
</table>

<div style="position: absolute; top: 10px; right: 10px; width: 150px;">
    <img src="./logo.png" style="width: 150px" style="background: green;">
    <p style="text-align: center; font-size: 30px; margin: 0; color: white;">Chicago</p>
</div>