<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="bounds">
        {% include 'background.html' %}

        {% include 'clocks.html' %}

        <div style="position: absolute; color: white; top: 15em; left: 13em; right: 13em;">
            <h1 style="font-size: 50px; font-weight: 100; color: #eee;">Up Next:</h1>
            <h1 style="font-size: 60px;">{{ event.title }}</h1>
            <h1 style="font-size: 60px; font-weight: 100; font-style: italic;">{{ event.authors_display }}</h1>
        </div>

        {% include 'sponsors.html' %}
    </div>
</body>
</html>