<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="bounds">
        {% include 'background.html' %}

        {% include 'clocks.html' %}

        <div style="position: absolute; color: white; top: 3em; left: 3em; width: calc(1920px - 6em);">

        </div>

        {% if event.is_last_event_before_break %}
            <img src="./split-break.png" style="position: absolute; top: 15em; right: 17em; width: 1000px;">
        {% else %}
            <img src="./split-exit.png" style="position: absolute; top: 15em; right: 17em; width: 1000px;">
        {% endif %}

        {% include 'sponsors.html' %}
    </div>
</body>
</html>